@model List<LatestInstagramPostsWithToken.Models.InstagramMedia>

@foreach (var media in Model)
{
    <div>
        <p>ID: @media.id</p>
        <p>Caption: @media.caption</p>
        <p>Likes: @media.like_count</p>
        <p>Comments: @media.comments_count</p>
        @if (media.media_type == "IMAGE")
        {
            <img src="@media.media_url" alt="@media.caption" width="300" />
        }
    </div>
}

